* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/564x/1e/84/d4/1e84d444e97dfba58900d1fe1648854d.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    
}

/* Activador */
.activar-block {
    display: block;
}
.activar-flex {
    display: flex;
}

.desactivar {
    display: none;
}

